version: '2'
services:
  web:
    image: nginx:alpine
    depends_on:
      - php
    ports:
      - 8888:80
    links:
      - php:php
    volumes:
      - ./:/srv/www/timalytics
      - ./default.conf:/etc/nginx/conf.d/default.conf
#    volumes_from:
#      - php:ro
    environment:
      - VIRTUAL_HOST=timalytics.localhost

  php:
    image: php:7-fpm-alpine
    depends_on:
      - db
    volumes:
      - ./:/srv/www/timalytics
    command:
        /bin/sh -c "set -ex; docker-php-ext-install pdo_mysql calendar; php-fpm"
    links:
      - db:db

  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=timalytics_root
      - MYSQL_DATABASE=timalytics
      - MYSQL_USER=timalytics
      - MYSQL_PASSWORD=timalytics
    volumes:
      - ./data/tables.sql:/docker-entrypoint-initdb.d/timalytics_setup.sql:ro

  pma:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    ports:
      - 8889:80
    links:
      - db:db
